html{
    scroll-behavior: smooth; 
    transition: 1s;

}
body{
    background-color:#413f3f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 0;
    box-sizing: border-box;
    width: 1096px;
    scroll-behavior: smooth; 
    border: 4px solid rgba(194, 181, 167, 0.2);
    border-radius:10px

}


nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 35px;
    background-color:#afaca9;
height:60px;
    padding: 0;
    width: 1079px;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: inset 2px 4px 14px 9px #413f3f;
    text-shadow: 4px 2px 5px;
    gap: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius:10px
}

nav ul li{
    cursor: pointer;
    color:#413f3f;
height:60px;
text-align: center;
display: flex;
align-items: center;
justify-content: center; 

}
nav ul li:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border-radius: 35%;
transition: 0.5s;
}

.photo{
height: 440px;
margin: 0 auto;
}

h1{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 60px;
    text-align: center;
    align-items: center;
    font-size: 37px;
    background-color: #413f3f;
    color: rgb(255, 255, 255);
    margin: 20px 0;
    background-color:#afaca9;
        box-shadow: inset 4px 3px 14px 4px #413f3f;
        text-shadow: 4px 0px 7px;
    color:#413f3f;
    border-radius:10px

}
h1:hover{
    color:rgb(255, 255, 255);
    background-color:#afaca9;
    box-shadow: inset 50px 50px 50px 4px #413f3f;

transition: 0.5s;
}

.header{
    display: flex;

}
.header img {
    border-radius:10px;

}
.header img:hover{
    border-radius:35%;
transition: 0.5s;
}
.contacts{
    width: 380px;
    height: 269px;
    margin: 0 auto;
    background-color:#afaca9;
    margin-top: 150px;
    box-shadow: inset 0 1px 30px 11px #413f3f;
    border: 4px solid #413f3f;
    border-radius:15px;
    color:#413f3f;
}
.contacts:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border: 4px solid #afaca9;
    border-radius: 30%;
transition: 0.5s;
}

.contacts h2{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 197px;
    height: 120px;
    font-size: 50px;
}

.contacts ul{
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 27px;
    line-height: 45px;
}

.line{
    background-color:rgba(209, 198, 186, 0.4);
    height:2px;
    display: flex;
    margin: 70px 0 35px 0;

}
.about{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;

}
.text{
    font-size: 21px;
    line-height: 32px;
    text-align: center;
}

.section-1{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 35px;

}
.h2-skills{
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    margin: 35px auto 10px;
}

.h2-code{
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    margin: 35px auto 10px;
}
.skills{
    width: 50%;
    font-size: 20px;
    text-align: start;
        text-shadow: 1px 0px 5px;
}

.skills ul li{
width: 200px;
padding-left: 30px;
align-items:center
}
.skills ul{
    list-style-type: none;
    font-size: 30px;
    color:#413f3f;
    background-color:#afaca9;
    margin: 0;
    height: 204px;
    color:#413f3f;
    font-size: 30px;
    list-style-type: none;
    display: flex;
flex-wrap: wrap;
align-items:center;
border: 1px solid #413f3f;
box-shadow: inset 0px 1px 10px 7px #413f3f;
        text-shadow: 1px 0px 5px;
    border-radius:10px

}
.skills ul:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border: 1px solid #afaca9;
box-shadow: inset 0px 1px 10px 7px #413f3f;
border-radius:10px;
    text-shadow: 10px 5px 10px;

}

nav a{
    text-decoration: none;
    color:#413f3f;
    transition: 0.5s;

}
nav a:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border-radius:50%
}
.code{
    width: 50%;
    font-size: 20px;
    text-align: start;
}
.code pre{
    color:#413f3f;
    background-color:#afaca9;
    margin: 0;
    height: 204px;
    display: flex;
    align-items: center;
box-shadow: inset 0px 1px 10px 7px #413f3f;
border-radius:10px;
        text-shadow: 1px 0px 5px;
}

.code pre:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border: 1px solid #afaca9;

}
.h2-projects{
    margin: 35px auto;
    text-align: center;
    font-size: 50px;
}
.text-projects{
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

.projects{
    display: flex;
    flex-wrap: wrap;
    font-size: 53px;
    justify-content: center;
    margin: 10px auto;
    gap: 35px;
    
}

.projects div{
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 1px 0px 5px;
    font-size: 35px;
    justify-content: center;
    align-items:center;

}
.projects a{
    filter:brightness(40%);
}

.projects a:hover{
    filter: brightness(100%);
transform: scale(1.3);
z-index: 10;
transition: 0.4s;
}
.projects img {
    border-radius:10px

}
.projects img:hover{
    border-radius:20%;

box-shadow: inset 52px 30px 44px 50px #afaca9;

}


span{
    box-shadow: inset 0px 1px 10px 7px #413f3f;
    text-shadow: 1px 0px 5px;
font-size: 50px;
}

.section-2{
    display: flex;
    flex-wrap: wrap;
    margin: 35px auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    box-shadow: inset 0px 1px 10px 7px #413f3f;
    text-shadow: 1px 0px 5px;
    
}
.section-2 h2{
    font-size: 50px;
    margin: 0 auto;
display: block;
}
.section-2 div{
    margin: 15px auto;
    width: 50%;
}

.section2-box{
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#afaca9;
    color:#413f3f;
    font-size: 26px;

box-sizing:border-box;
width: 50%;
box-shadow: inset 0px 1px 10px 7px #413f3f;
text-shadow: 1px 0px 5px;
align-items:center;
}
.section2-box:hover{
    color:rgb(255, 255, 255);
    background-color:#413f3f;
    border: 4px solid #afaca9;
    border-radius: 30%;
transition: 0.8s;
}


footer{
    width: 1096px;

}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 1085px;
    font-size: 35px;
    justify-content: center;
    color: #413f3f;
box-shadow: inset 2px 3px 24px 18px #413f3f;
background-color:#afaca9;
text-shadow: 1px 0px 5px;
padding-top: 5px;
margin: 0 auto;
border-radius:10px

}
.footer a{
text-decoration: none;
color: #413f3f;

}
.footer a:hover{

    text-shadow: 1px 0px 8px;
    color: #ffffff;
    border-radius:10%;
    filter: invert(10%);
    box-shadow: inset 2px 3px 14px 5px #413f3f;

}

.img-footer{
    margin-right: 15px;
    filter: invert(80%);
}
.img-footer:hover{
    filter: invert(1%);
box-shadow: inset 2px 3px 14px 5px #413f3f;
border-radius:10%

}

.left-footer{
    display: flex;
    margin: 0 auto;
    gap: 39px;
    margin-left: 15px;
    align-items: center;
}